/*Donde estamos?/Ubicación*/

//Título//

.dondeEstamostitulo{
    padding-top: 10%;
}

.infoUbicacion{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 2.5%;

    img{
        width: 4%;
    }
}
