/*Carousel*/

//Botones//

.carousel-item button{
    background-color: yellow;
    a{
        color: black;
        text-decoration: none;
    }
    &:hover{
        background-color: blue;
        border-color: blue;
    }
}

//Textos//

.carousel-caption{ 
    h1{
    color: black;
    font-weight: bold;
    font-size: 22px;
    }
    p{
        color: black;
        font-weight: bold;
    }
}

//Responsive de texto//

@media (max-width:540px) {
    .carousel-caption{ 
        h1{
        font-size:14px;
        padding-top: 3rem;
        }
        p{
        font-size:7px;
        padding-bottom: 1px;
        }
        button{
        scale: 0.5;
        }
    }
    .carousel-item button{
        background-color: yellow;
        a{
            font-size: 14px;
        }
    }
}